<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <title>Landing Page</title>

    <link rel="stylesheet" href="node_modules/office-ui-fabric-core/dist/css/fabric.min.css">
    <link rel="stylesheet" href="node_modules/office-ui-fabric-js/dist/css/fabric.components.min.css">
    <link href="app.css" rel="stylesheet" type="text/css" />
</head>

<body class="ms-font-l ms-landing-page">
    <main class="ms-landing-page__main">
        <section class="ms-landing-page__header ms-bgColor-themeLighter">
            <div class="ms-landing-page__header--center ms-font-m ms-fontWeight-light">
                <p>
                    <i class="ms-Icon ms-Icon--plus ms-fontColor-themePrimary"></i> Item 1
                </p>
                <p>
                    <i class="ms-Icon ms-Icon--plus ms-fontColor-themePrimary"></i> Item 2
                </p>
            </div>
            <div class="ms-landing-page__header--right ms-font-m ms-fontWeight-light">
                <i class="ms-Icon ms-Icon--reactivate ms-fontColor-themePrimary"></i>
            </div>
        </section>
    </main>
    <footer class="ms-landing-page__footer  ms-bgColor-themePrimary">
        <div class="ms-landing-page__footer--left">
            <img src="/assets/logo-filled.png" />
            <h1 class="ms-font-xl ms-fontWeight-semilight ms-fontColor-white">My Add-in Name</h1>
        </div>
        <div class="ms-landing-page__footer--right">
            <i class="ms-Icon enlarge ms-Icon--gear ms-fontColor-white"></i>
        </div>
    </footer>
</body>

</html>