sudo: false
language: node_js
node_js:
  - 'stable'
  - '4.2.3'
os:
  - linux
  - osx
script: "npm run-script test-travis"
after_script: "cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js"