<main class="ms-landing-page__main">
    <section class="ms-landing-page__header ms-bgColor-themeLighter">
        <div class="ms-landing-page__header--center ms-font-m ms-fontWeight-light">
            <p>
                <i class="ms-Icon ms-Icon--plus ms-fontColor-themePrimary"></i>
                Item 1
            </p><p>
                <i class="ms-Icon ms-Icon--plus ms-fontColor-themePrimary"></i>
                Item 2
            </p>       
        </div>
        <div class="ms-landing-page__header--right ms-font-m ms-fontWeight-light">
            <i class="ms-Icon ms-Icon--reactivate ms-fontColor-themePrimary"></i>
        </div>
    </section>
    <section class="ms-landing-page__content ms-font-m ms-fontColor-neutralPrimary">
        <article class="demo-placeholder">
            <div class="demo-placeholder__img"></div>
            <div class="demo-placeholder__text"></div>
            <div class="demo-placeholder__text"></div>
            <div class="demo-placeholder__text"></div>
            <div class="demo-placeholder__text demo-placeholder__text--half"></div>
        </article>
        <article class="demo-placeholder">
            <div class="demo-placeholder__text"></div>
            <div class="demo-placeholder__text demo-placeholder__text--half"></div>
        </article>
        <article class="demo-placeholder">
            <div class="demo-placeholder__text"></div>
            <div class="demo-placeholder__text"></div>
            <div class="demo-placeholder__text"></div>
            <div class="demo-placeholder__text demo-placeholder__text--half"></div>
        </article>
        <article class="demo-placeholder">
            <div class="demo-placeholder__text demo-placeholder__text--half"></div>
            <div class="demo-placeholder__text demo-placeholder__text--para"></div>
        </article>
        <article class="demo-placeholder">
            <div class="demo-placeholder__text demo-placeholder__text--half"></div>
            <div class="demo-placeholder__text demo-placeholder__text--para"></div>
        </article>
        <article class="demo-placeholder">
            <div class="demo-placeholder__button ms-bgColor-themeLight"></div>
        </article>
    </section>
</main>
<footer class="ms-landing-page__footer  ms-bgColor-themePrimary">
    <div class="ms-landing-page__footer--left">
        <img src="../images/logo-filled.png" />
        <h1 class="ms-font-xl ms-fontWeight-semilight ms-fontColor-white">My Add-in Name</h1>
    </div>
    <div class="ms-landing-page__footer--right">
        <i class="ms-Icon enlarge ms-Icon--gear ms-fontColor-white"></i>
    </div>
</footer>