<!DOCTYPE html>
<html><head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <title></title>
  <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.9.1.min.js" type="text/javascript"></script>
  <script src="../../scripts/MicrosoftAjax.js" type="text/javascript"></script>

  <link href="../../Content/Office.css" rel="stylesheet" type="text/css" />
  <link href="../../bower_components/microsoft.office.js/styles/OfficeThemes.css" rel="stylesheet" type="text/css" />
  <script src="//appsforoffice.microsoft.com/lib/1.1/hosted/office.js" type="text/javascript"></script>

  <!-- To enable offline debugging using a local reference to Office.js, use:                        -->
  <!-- <script src="../../bower_components/jquery/jquery.min.js" type="text/javascript"></script>  -->
  <!-- <script src="../../bower_components/microsoft.office.js/scripts/Office/1.1/office.js" type="text/javascript"></script>  -->


  <link href="../App.css" rel="stylesheet" type="text/css" />
  <script src="../App.js" type="text/javascript"></script>

  <link href="Home.css" rel="stylesheet" type="text/css" />
  <script src="Home.js" type="text/javascript"></script>
</head>

<body>
  <div id="content-main">
    <div class="padding">
      <h1>Welcome</h1>
      <p>This example will read the current document selection.</p>
      <button id="get-data-from-selection">Get data from selection</button>

      <p style="margin-top: 30px;">
        <a target="_blank" href="https://go.microsoft.com/fwlink/?LinkId=276813">Find more samples online...</a>
      </p>
    </div>
  </div>
</body>

</html>