<!DOCTYPE html>
<html>
	<head>
		<!-- Any changes on this file should be updated on HomeCDN.html as well-->
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		<meta http-equiv="Expires" content="0" />
		<title></title>

		<!-- To enable offline debugging using a local reference to Office.js, use: -->
		<script src="../../Scripts/Office/MicrosoftAjax.js" type="text/javascript"></script>
		<script src="../../Scripts/Office/1.1/office.debug.js" type="text/javascript"></script>

		<script src="../Office.Runtime.js" type="text/javascript"></script>
		<script src="../office.core.js" type="text/javascript"></script>
		<script src="../Excel.js" type="text/javascript"></script>

		<script src="functions.js" type="text/javascript"></script>
	</head>
	<body>
	</body>
</html>
